<h1>{{title}}</h1>
<h3>Welcome to {{title}}</h3>
<h4>Create a database <a href="https://plankton-app-ecs5w.ondigitalocean.app/db/create">Click here </a></h4>
<h4>To create table, vendors <a href="https://plankton-app-ecs5w.ondigitalocean.app/db/vendortable">Click here </a></h4>
<h4>To create table, items <a href="https://plankton-app-ecs5w.ondigitalocean.app/db/itemsTable">Click here </a></h4>