<h1>{{title}}</h1>
<h3>Welcome to {{title}}</h3>
<h4>Get all vendors <a href="https://plankton-app-ecs5w.ondigitalocean.app/api/vendors">here</a></h4>
<h4>Get a particular vendors products <a href="https://plankton-app-ecs5w.ondigitalocean.app/api/vendors/6358fa0965f06462ada8f086/items">here</a></h4>
