<h1>{{title}}</h1>
<h3>Welcome to {{title}}</h3>
<h4>Get all vendors <a href="https://build-api-ktne7.ondigitalocean.app/api/vendors">here</a></h4>
<h4>Get a particular vendors products <a href="https://build-api-ktne7.ondigitalocean.app/api/vendors">here</a></h4>
